@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "./variables.scss";

:root {
    font-size: clamp(17px, 2.8lvw, 21px);
}

body {
    background-color: $gruvbox-black;
    color: $gruvbox-white;
    font-family: $font;
}

button {
    cursor: pointer;
    outline: none;
    appearance: none;
    border: none;
}

p {
    line-height: 1.3;
    text-align: justify;
    margin: 0;

    i {
        color: $gruvbox-lime;
    }
}

.left-bar {
    border-left: 2px solid $gruvbox-white;
    padding-left: 0.7rem;

    &.pink {
        border-color: $gruvbox-pink;
    }

    &.red {
        border-color: $gruvbox-red;
    }

    & + p {
        margin-top: 0;
        padding-top: 0.3rem;
    }
}

.qualifier-after:after {
    content: "::";
    color: $gruvbox-green;
}

.token-red {
    color: $gruvbox-red;
}

.token-green {
    color: $gruvbox-green;
}

.token-yellow {
    color: $gruvbox-yellow;
}

.token-pink {
    color: $gruvbox-pink;
}
