@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import "./variables.scss";

:root {
    font-size: clamp(16px, 2.5lvw, 20px);
}

body {
    background-color: $gruvbox-black;
    color: $gruvbox-white;
    font-family: $font;
}

button {
    cursor: pointer;
    outline: none;
    appearance: none;
    border: none;
}

.token-red {
    color: $gruvbox-red;
}

.token-green {
    color: $gruvbox-green;
}

.token-yellow {
    color: $gruvbox-yellow;
}

.token-pink {
    color: $gruvbox-pink;
}
