$main-font: "Fira Code", monospace;
$main-bg-color: #060606;
$main-txt-color: #f8f8f2;

$theme-color-red: #eb3452;

@font-face {
    font-family: "Fira Code";
    src: url("fonts/FiraCodeNerdFontMono-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@mixin fade-from-left-children($duration: 0.5s, $delay-step: 0.2s, $children: 1, $anim-delay: 0) {
    & > * {
        animation: $duration fade-left-0 ease-out forwards;
        animation-delay: $anim-delay;

        @keyframes fade-left-0 {
            0% {
                opacity: 0;
                transform: translateX(-30px);
            }

            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    @for $i from 1 through $children {
        & > *:nth-child(#{$i}) {
            transform: translate(0, 0);
            opacity: 0;
            animation-delay: (($i - 1) * $delay-step) + $anim-delay;
        }
    }
}

@mixin fade-from-right-children($duration: 0.5s, $delay-step: 0.2s, $children: 1, $anim-delay: 0) {
    & > * {
        animation: $duration fade-right-0 ease-out forwards;
        animation-delay: $anim-delay;

        @keyframes fade-right-0 {
            0% {
                opacity: 0;
                transform: translateX(30px);
            }

            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }
    }

    @for $i from 1 through $children {
        & > *:nth-child(#{$i}) {
            transform: translate(0, 0);
            opacity: 0;
            animation-delay: (($i - 1) * $delay-step) + $anim-delay;
        }
    }
}
