$font: "Ubuntu Mono", monospace;

$gruvbox-green: #8ec07c;
$gruvbox-lime: #9d9f24;
$gruvbox-blue: #458588;
$gruvbox-yellow: #d79921;
$gruvbox-red: #cc241d;
$gruvbox-pink: #d3869b;
$gruvbox-black: #1d2021;
$gruvbox-white: #ebdbb2;
$gruvbox-grey-1: #393634;
$gruvbox-grey-2: #5b524c;

$lang-rust: #dea584;
$lang-vue: #41b883;
$lang-ts: #2b7489;
$lang-docker: #384d54;
$lang-scss: #c6538c;
$lang-gleam: #ffaff3;
$lang-php: #4f5d95;
$lang-c: #555555;
$lang-asm: #6e4c13;
$lang-java: #b07219;
$lang-svelte: #ff3e00;
$lang-make: #427819;
$lang-cpp: #f34b7d;
$lang-python: #3572a5;
$lang-dart: #00b4ab;
$lang-js: #f1e05a;
$lang-css: #563d7c;
$lang-groovy: #4298b8;
$lang-go: #00add8;

$mobile-breakpoint: 460px;
$max-content-width: 800px;

$tech-icon-size: clamp(25px, 5lvw, 60px);

@mixin fade-transform(
  $transform,
  $duration: 0.5s,
  $delay-step: 0.15s,
  $children: 1,
  $anim-delay: 0,
  $anim-id
) {
  & > * {
    animation: $duration fade-transform-#{$anim-id} ease forwards;
    animation-delay: $anim-delay;

    @keyframes fade-transform-#{$anim-id} {
      0% {
        opacity: 0;
        transform: $transform;
      }

      100% {
        opacity: 1;
        transform: initial;
      }
    }
  }

  @for $i from 1 through $children {
    & > *:nth-child(#{$i}) {
      transform: translate(0, 0);
      opacity: 0;
      animation-delay: (($i - 1) * $delay-step) + $anim-delay;
    }
  }
}
