---
import Typer from "./Typer"
import SocialLink from "./SocialLink"
---

<div class={"container"}>
    <div class={"name-section"}>
        <h1>
            <Typer value={"connellr023"} ms={120} client:load />
        </h1>
        <ul>
            <li>student</li>
            <li>builder</li>
            <li>web_developer</li>
        </ul>
    </div>
    <div class={"contact-section"}>
        <ul>
            <li>
                <SocialLink
                    client:load
                    logoPath={"logos/github.png"}
                    logoAlt={"GitHub"}
                    link={"https://github.com/connellr023"}
                    displayText={"github.com/connellr023"}
                />
            </li>
            <li>
                <SocialLink
                    client:load
                    logoPath={"logos/github.png"}
                    logoAlt={"GitHub"}
                    link={"https://github.com/connellr023"}
                    displayText={"github.com/connellr023"}
                />
            </li>
        </ul>
    </div>
</div>

<style lang="scss">
@import "../styles/variables.scss";

h1 {
    font-size: 2.5rem;
    margin: auto;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.name-section {
    margin-right: 3rem;

    ul {
        @include fade-from-left-children($children: 3, $anim-delay: 0.2s);

        li {
            margin-top: 0.5rem;
            font-size: 1.4rem;
            color: rgba($main-txt-color, 0.7);

            &::before {
                content: "|>";
                color: $theme-color-red;
                margin-right: 0.5rem;
            }
        }
    }
}

div.contact-section > ul {
    @include fade-from-right-children($children: 2, $anim-delay: 0.2s);

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
</style>
