<div>
    <slot></slot>
</div>

<style lang="scss">
div {
    $horizontal-padding: 20lvw;
    $vertical-padding: 40px;

    padding: $vertical-padding $horizontal-padding;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
</style>
